{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1 class="mb-4">О нашей компании</h1>
        <p class="lead">Мы - команда профессионалов, создающая качественные веб-приложения на Flask.</p>
        
        <div class="mt-5">
            <h3>Наша история</h3>
            <p>Наша компания была основана в 2020 году с целью создания современных и удобных веб-приложений. За это время мы реализовали десятки успешных проектов для клиентов из различных отраслей.</p>
        </div>
        
        <div class="mt-5">
            <h3>Наша команда</h3>
            <div class="row mt-4">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Иван Иванов">
                        <div class="card-body">
                            <h5 class="card-title">Анна Зеленковская, Елизавета </h5>
                            <p class="card-text">Главные разработчики</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Петр Петров">
                        <div class="card-body">
                            <h5 class="card-title">Тевзадзе Давид</h5>
                            <p class="card-text">Дизайнер</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300x300" class="card-img-top" alt="Сергей Сергеев">
                        <div class="card-body">
                            <h5 class="card-title">Александра Улина</h5>
                            <p class="card-text">Менеджер проектов</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Наши преимущества</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="bi bi-check-circle text-success"></i> Опытная команда</li>
                    <li class="list-group-item"><i class="bi bi-check-circle text-success"></i> Современная косметика</li>
                    <li class="list-group-item"><i class="bi bi-check-circle text-success"></i> Индивидуальный подход</li>
                    <li class="list-group-item"><i class="bi bi-check-circle text-success"></i> Гибкие условия сотрудничества</li>
                    <li class="list-group-item"><i class="bi bi-check-circle text-success"></i> Поддержка после запуска</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}